{% extends 'base.html.twig' %}

{% set dateStartModified = dateStart|date("l d-m-Y", "Europe/Kiev")|replace({'Monday' : 'Luni', 'Tuesday' : 'Marți', 'Wednesday' : 'Miercuri', 'Thursday' : 'Joi', 'Friday' : 'Vineri', 'Saturday' : 'Sâmbătă', 'Sunday' : 'Duminică'}) %}
{% set dateEndModified = dateEnd|date("l d-m-Y", "Europe/Kiev")|replace({'Monday' : 'Luni', 'Tuesday' : 'Marți', 'Wednesday' : 'Miercuri', 'Thursday' : 'Joi', 'Friday' : 'Vineri', 'Saturday' : 'Sâmbătă', 'Sunday' : 'Duminică'}) %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/booking.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block container %}
    <body>
    <div class="logo">
        <a href="{{ path('home_get') }}" title="Înapoi">Rezervari Online</a>
    </div>
    <section>
        <div class="header"><h2>Dragă <span>{{ user }}</span>,</h2></div>
        <div class="body">
            <h3>Rezervarea pentru <span>{{ model }}</span> a fost finalizată</h3>
            <h4>Orașul <span>{{ city }}</span></h4>

            <h4>              </h4>
            <h4>Rezervare de {{ days }} zile</h4>

            <h4>Perioada {{ dateStartModified }} -- {{ dateEndModified }}</h4>
            <h4>Prețul de {{ price }} lei / zi</h4>
            <h4>Preț total de <span class="total">{{ totalPrice }}</span> lei</h4>
        </div>
        <div class="footer"><h3>Vă mulțumim</h3></div>
    </section>
    {% block footer %}
        <footer class="footer fixed">
            <p class="copyright"> 2019 &copy; Rezervări Online | Eduard Postelnicu</p>
        </footer>
    {% endblock %}
    </body>
{% endblock %}