{% set user = app.user %}
{% block header %}
    <header>
        <div class="logo">Rezervari Online</div>
        {% if user %}
            <div class="user j-s-r">{{ user.username }}</div>
            <a href="{{ path("security_logout") }}" class="log j-s-r">
                <button class="button">Logout</button>
            </a>
        {% else %}
            <a href="{{ path("user_register") }}" class="registration j-s-r">
                <button class="button">Inregistrativa</button>
            </a>
            <a href="{{ path("security_login") }}" class="log j-s-r">
                <button class="button">Autentificare</button>
            </a>
        {% endif %}
        <div class="home menu">
            <a href="{{ path("home_get") }}" >
                <img src="{{ asset("img/home.svg") }}" alt="">
                <span>Home</span>
            </a>
        </div>
        <div class="flights menu">
            <a href="{{ path("flights_get") }}" >
                <img src="{{ asset("img/avion.svg") }}" alt="">
                <span>Zboruri</span>
            </a>
            </div>
        <div class="accommodation menu">
            <a href="{{ path("accommodation_get") }}" >
                <img src="{{ asset("img/hotel.svg") }}" alt="">
                <span>Cazare</span>
            </a>
        </div>
        <div class="rentals menu">
            <a href="{{ path("rentals_get") }}" >
                <img src="{{ asset("img/masina.svg") }}" alt="">
                <span>Inchirieri Masini</span>
            </a>
        </div>
    </header>
{% endblock %}