{% set user = app.user %}

{% block header %}
    <header>
        <div class="logo">Rezervari Online</div>
        {% if user %}
            <div id="cart">
                {% for accommodationBook in app.user.accommodationBook %}
                    <div id="accommodation-delete">
                        {% set startDate = accommodationBook.periodStart|date("l d-m-Y", "Europe/Kiev")|replace({'Monday' : 'Luni', 'Tuesday' : 'Marți', 'Wednesday' : 'Miercuri', 'Thursday' : 'Joi', 'Friday' : 'Vineri', 'Saturday' : 'Sâmbătă', 'Sunday' : 'Duminică'}) %}
                        {% set endDate = accommodationBook.periodEnd|date("l d-m-Y", "Europe/Kiev")|replace({'Monday' : 'Luni', 'Tuesday' : 'Marți', 'Wednesday' : 'Miercuri', 'Thursday' : 'Joi', 'Friday' : 'Vineri', 'Saturday' : 'Sâmbătă', 'Sunday' : 'Duminică'}) %}
                        <h3>{{ accommodationBook.rooms|first.building.city.name }}
                            <span
                                    class="close-tag"
                                    data-type="accommodation"
                                    data-id="{{ accommodationBook.id }}"
                                    onclick="deleteItem(this)"
                            >&times;</span>
                        </h3>
                        <p>Ați rezervat {{ accommodationBook.rooms|length }} camere</p>
                        <p>De {{ startDate }}</p>
                        <p>Până {{ endDate }}</p>
                    </div>
                    <div class="line"></div>
                {% endfor %}
                {% for rentalBook in app.user.rentalBook %}
                    <div id="rental-delete">
                        {% set startDate = rentalBook.periodStart|date("l d-m-Y", "Europe/Kiev")|replace({'Monday' : 'Luni', 'Tuesday' : 'Marți', 'Wednesday' : 'Miercuri', 'Thursday' : 'Joi', 'Friday' : 'Vineri', 'Saturday' : 'Sâmbătă', 'Sunday' : 'Duminică'}) %}
                        {% set endDate = rentalBook.periodEnd|date("l d-m-Y", "Europe/Kiev")|replace({'Monday' : 'Luni', 'Tuesday' : 'Marți', 'Wednesday' : 'Miercuri', 'Thursday' : 'Joi', 'Friday' : 'Vineri', 'Saturday' : 'Sâmbătă', 'Sunday' : 'Duminică'}) %}
                        <h3>{{ rentalBook.car.city.name }}
                            <span
                                    class="close-tag"
                                    data-type="rental"
                                    data-id="{{ rentalBook.id }}"
                                    onclick="deleteItem(this)"
                            >&times;</span></h3>
                        <p>Ați închiriat un {{ rentalBook.car.model }}</p>
                        <p>De {{ startDate }}</p>
                        <p>Până {{ endDate }}</p>
                    </div>
                    <div class="line"></div>
                {% endfor %}
                {% if app.user.rentalBook is empty and app.user.accommodationBook is empty %}
                    <p>Coșul dumneavoastră este gol!</p>
                {% endif %}
                {% if app.user.rentalBook is not empty or app.user.accommodationBook is not empty %}
                    <div class="cart-button">
                        <button id="cart-delete" class="button" data-user-id="{{ user.id }}">Șterge tot coșul</button>
                    </div>
                {% endif %}
            </div>
            <div id="username" class="user j-s-r" title="Coșul meu">
                <img  id="logo-cart" src="{{ asset("img/cart.svg") }}" alt="Coșul meu">
                <span>{{ user.username }}</span>
            </div>
            <a href="{{ path("security_logout") }}" class="log j-s-r">
                <button class="button">Logout</button>
            </a>
        {% else %}
            <a href="{{ path("user_register") }}" class="registration j-s-r">
                <button class="button">Înregistrați-vă</button>
            </a>
            <a href="{{ path("security_login") }}" class="log j-s-r">
                <button class="button">Autentificați-vă</button>
            </a>
        {% endif %}
        <div class="home menu">
            <a href="{{ path("home_get") }}" >
                <img src="{{ asset("img/home.svg") }}" alt="">
                <span>Acasă</span>
            </a>
        </div>
        <div class="flights menu">
            <a href="#" >
                <img src="{{ asset("img/avion.svg") }}" alt="">
                <span>Zboruri</span>
            </a>
            </div>
        <div class="accommodation menu">
            <a href="{{ path("accommodation_get") }}" >
                <img src="{{ asset("img/hotel.svg") }}" alt="">
                <span>Cazare</span>
            </a>
        </div>
        <div class="rentals menu">
            <a href="{{ path("rentals_get") }}" >
                <img src="{{ asset("img/masina.svg") }}" alt="">
                <span>Închirieri auto</span>
            </a>
        </div>
    </header>
{% endblock %}