{%  extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/accommodation.css') }}" rel="stylesheet" type="text/css" >
{% endblock %}

{% block body %}
    <section>
        <div class="text search">
            <h2>Găsiți oferte pentru cazare</h2>
            <p>De la case la țară la apartamente moderne</p>
        </div>
        {{ form_start(form) }}
        <div class="hint location">
            <div class="hint-response"></div>
            {{ form_widget(form.location, {"attr" : {"placeholder" : "Unde mergeti?", "class" : "search"}}) }}
        </div>
        {{ form_widget(form.date, {"attr" : {"class" : "date search"}}) }}
        {{ form_widget(form.number, {"attr" : {"class" : "number search", "placeholder" : "Cate persoane?", "onkeydown" : "down(event, this)"}}) }}
        {{ form_widget(form.submit, {"attr" : {"class" : "send search search"}}) }}
        {{ form_end(form) }}

        {% for number, city in cities %}
            <div class="hotel hotel-{{ number }}">
                <div class="name">{{ city.name }}</div>

                <img src="{{ city.image }}" alt="Sinaia" data-content="">
                <div class="average">Pret mediu {{ city.averagePrice }} lei.</div>
            </div>
        {% endfor %}
    </section>
{% endblock %}