{%  extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/home.css') }}" rel="stylesheet" type="text/css" >
{% endblock %}

{% block body %}
    <section>
        <div class="text search">
            <h2>Găsiți oferte pentru cazare</h2>
            <p>De la case la țară la apartamente moderne</p>
        </div>
        <div class="search-image">
            <img src="{{ asset('img/beach2.jpg') }}">
        </div>
        {{ form_start(form, {"action" : path('accommodation_post')}) }}
        <div class="hint location">
            {{ form_widget(form.location) }}
            <datalist id="hint" class="hint-response"></datalist>
        </div>
        <div class="date">
            {{ form_widget(form.startDate) }}
            {{ form_widget(form.endDate) }}
        </div>
        {{ form_widget(form.number) }}
        {{ form_widget(form.submit) }}
        {{ form_end(form) }}

        <div class="from first-offer">
            <img src="{{ asset('img/avion_sus.svg') }}">
            <h4>Zboară din Timișoara</h4>
        </div>
        <div class="to first-offer">
            <img src="{{ asset('img/avion_jos.svg') }}">
            <h4>către București</h4>
        </div>
        <span class="price first-offer">cu doar 210,49 lei</span>
        <input class="action first-offer button" type="button" onclick="window.location.assign('{{ path('flights_get') }}')" value="Vezi oferta">

        <div class="from last-offer">
            <img src="{{ asset('img/avion_sus.svg') }}">
            <h4>Zboară din Cluj-Napoca</h4>
        </div>
        <div class="to last-offer">
            <img src="{{ asset('img/avion_jos.svg') }}">
            <h4>către București</h4>
        </div>
        <span class="price last-offer">cu doar 115,49 lei</span>
        <input class="action last-offer button" type="button" onclick="window.location.assign('{{ path('flights_get') }}')" value="Vezi oferta">

        {% for number, city in cities %}
            <div class="hotel hotel-{{ number }}">
                <div class="name">{{ city.name }}</div>

                <img src="{{ asset("img/cities/" ~ city.image) }}" alt="{{ city.name }}" data-content="">
                <div class="average">Cazare la doar {{ city.averagePrice }} lei / noapte</div>
            </div>
        {% endfor %}
        <div class="rent">
            <img src="{{ asset("img/rent.jpg") }}" alt="Rent">
        </div>
    </section>
{% endblock %}