{%  extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/rentals.css') }}" rel="stylesheet" type="text/css" >
{% endblock %}

{% block body %}
    <section>
        <div class="rent">
            <img src="{{ asset("img/rentacar.jpg") }}" alt="Rent a Car">
            <div class="actions">

                {{ form_start(form) }}
                <div class="location" >
                    <div class="hint-response"></div>
                    {{ form_widget(form.location) }}
                </div>
                <div class="date">
                    {{ form_widget(form.date) }}
                </div>
                <div class="send">
                    {{ form_widget(form.submit) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}