{%  extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/rentals.css') }}" rel="stylesheet" type="text/css" >
{% endblock %}

{% block body %}
    <section>
        <div class="rent">
            <img src="{{ asset("img/rentacar.jpg") }}" alt="Rent a Car">
            <div class="actions">

                {{ form_start(form) }}
                <div class="hint location" >
                    {{ form_widget(form.location) }}
                    <datalist class="hint-response"></datalist>
                </div>
                <div class="fuel">
                    {{ form_widget(form.fuel) }}
                </div>
                <div class="seats">
                    {{ form_widget(form.seats) }}
                </div>
                <div class="startDate">
                    {{ form_widget(form.startDate) }}
                </div>
                <div class="endDate">
                    {{ form_widget(form.endDate) }}
                </div>
                <div class="send">
                    {{ form_widget(form.submit) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}