{%  extends 'base.html.twig' %}

{% set dateModified = date|date("l d-m-Y", "Europe/Kiev")|replace({'Monday' : 'Luni', 'Tuesday' : 'Marți', 'Wednesday' : 'Miercuri', 'Thursday' : 'Joi', 'Friday' : 'Vineri', 'Saturday' : 'Sâmbătă', 'Sunday' : 'Duminică'}) %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/result/result.css') }}" rel="stylesheet" type="text/css" >
{% endblock %}

{% block body %}
    <section>
        <div class="header">
            <h2>În {{ city|capitalize }}, în data de {{ dateModified }} au fost găsite {{ count }} hoteluri. </h2>
        </div>
        {% for result in results %}
            {% set noOfRooms = (beds / result.beds)|round(0, 'ceil') %}
            <div class="hotel">
                <div class="image">
                    <img src="{{ result.image }}" alt="Sinaia">
                </div>
                <div class="details">
                    <h2>{{ result.building_name }}</h2>
                    <span>Sejur de </span>
                    <span>{{ noOfRooms }}{% if noOfRooms == 1 %} cameră{% else %} camere{% endif %} cu {{ result.beds }} paturi in cameră</span>
                </div>
                <div class="actions">
                    <form name="accommodation_booking" method="post" action="{{ path('booking_accommodation_action') }}">
                        <input type="hidden" name="accommodation_booking[start_date]" value="{{ date|date("d-m-Y", "Europe/Kiev") }}">
                        <input type="hidden" name="accommodation_booking[no_of_rooms]" value="{{ noOfRooms }}">
                        <input type="hidden" name="accommodation_booking[no_of_beds]" value="{{ result.beds }}">
                        <input type="hidden" name="accommodation_booking[building_id]" value="{{ result.building_id }}">
                        <input type="number" name="accommodation_booking[days]" required="required" class="number search" placeholder="Câte zile?">
                        <div class="price">
                            <span>{{ result.price }} lei / cameră / zi</span>
                        </div>
                        <button type="submit" name="accommodation_booking[submit]" class="button submit">Alegeți-vă camera</button>
                        <input type="hidden" name="accommodation_booking[_token]" value="{{ csrf_token("accommodation_booking") }}">
                    </form>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}