{%  extends 'base.html.twig' %}

{% set startDateTextDay = startDate|date("d F", "Europe/Kiev")|replace({'January' : 'Ianuarie', 'February' : 'Februarie', 'March' : 'Martie', 'April' : 'Aprilie', 'May' : 'Mai', 'June' : 'Iunie', 'July' : 'Iulie', 'September' : 'Septembrie', 'October' : 'Octombrie' , 'November' : 'Noiembrie', 'December' : 'Decembrie'}) %}
{% set endDateTextDay = endDate|date("d F", "Europe/Kiev")|replace({'January' : 'Ianuarie', 'February' : 'Februarie', 'March' : 'Martie', 'April' : 'Aprilie', 'May' : 'Mai', 'June' : 'Iunie', 'July' : 'Iulie', 'September' : 'Septembrie', 'October' : 'Octombrie' , 'November' : 'Noiembrie', 'December' : 'Decembrie'}) %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/result/result.css') }}" rel="stylesheet" type="text/css" >
{% endblock %}

{% block body %}
    <section>
        <div class="header">
            <h2>În {{ city }}, în perioada {{ startDateTextDay }} - {{ endDateTextDay }} {{ startDate|date("Y") }} au fost găsite {{ count }} hoteluri. </h2>
        </div>
        {% for result in results %}
            {% set noOfRooms = (beds / result.beds)|round(0, 'ceil') %}
            <div class="hotel">
                <div class="image">
                    <img src="{{ asset('img/cities/' ~ result.image) }}" alt="{{ city }}">
                </div>
                <div class="details">
                    <h2>{{ result.building_name }}</h2>
                    <span>{{ noOfRooms }}{% if noOfRooms == 1 %} cameră{% else %} camere{% endif %} cu {{ result.beds }} paturi in cameră</span>
                </div>
                <div class="actions">
                    <form name="accommodation_booking" method="post" action="{{ path('booking_accommodation_action') }}">
                        <input type="hidden" name="accommodation_booking[start_date]" value="{{ startDate|date("d-m-Y", "Europe/Kiev") }}">
                        <input type="hidden" name="accommodation_booking[end_date]" value="{{ endDate|date("d-m-Y", "Europe/Kiev") }}">
                        <input type="hidden" name="accommodation_booking[no_of_rooms]" value="{{ noOfRooms }}">
                        <input type="hidden" name="accommodation_booking[no_of_beds]" value="{{ result.beds }}">
                        <input type="hidden" name="accommodation_booking[building_id]" value="{{ result.building_id }}">
                        <div class="price">
                            <span>{{ result.price }} lei / cameră / zi</span>
                        </div>
                        <button type="submit" name="accommodation_booking[submit]" class="button submit">Alegeți-vă camera</button>
                        <input type="hidden" name="accommodation_booking[_token]" value="{{ csrf_token("accommodation_booking") }}">
                    </form>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}