{%  extends 'base.html.twig' %}

{% set startTextDay = startDate|date("l", "Europe/Kiev")|replace({'Monday' : 'Luni', 'Tuesday' : 'Marți', 'Wednesday' : 'Miercuri', 'Thursday' : 'Joi', 'Friday' : 'Vineri', 'Saturday' : 'Sâmbătă', 'Sunday' : 'Duminică'}) %}
{% set endTextDay = endDate|date("l", "Europe/Kiev")|replace({'Monday' : 'Luni', 'Tuesday' : 'Marți', 'Wednesday' : 'Miercuri', 'Thursday' : 'Joi', 'Friday' : 'Vineri', 'Saturday' : 'Sâmbătă', 'Sunday' : 'Duminică'}) %}

{% set startDay = startDate|date("d") %}
{% set endDay = endDate|date("d") %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/result/result.css') }}" rel="stylesheet" type="text/css" >
    <link href="{{ asset('css/result/rental.css') }}" rel="stylesheet" type="text/css" >
{% endblock %}

{% block body %}
    <section>
        <h2>În {{ city|capitalize }} au fost găsite {{ count }} mașini. </h2>
        <div class="header">
            <div class="pick-up">
                <div class="text">
                    <span>Preluare</span>
                    <h4>{{ city|capitalize }}</h4>
                </div>
                <div class="date">
                    <span>{{ startDay }}</span>
                    <h5>{{ startTextDay }}</h5>
                    <span>10:00</span>
                </div>
            </div>
            <div class="drop-off">
                <div class="text">
                    <span>Predare</span>
                    <h4>{{ city|capitalize }}</h4>
                </div>
                <div class="date">
                    <span>{{ endDay }}</span>
                    <h5>{{ endTextDay }}</h5>
                    <span>10:00</span>
                </div>
            </div>
        </div>
        {% for result in results %}
            <div class="hotel">
                <div class="image">
                    <img src="{{ result.image }}" alt="Sinaia">
                </div>
                <div class="details">
                    <h2>Model {{ result.model }}</h2>
                    <span>{{ result.seats }} locuri</span>
                    <span>Combustibil {{ result.fuel }}</span>
                    <span>Transmisie {{ result.gear_type }}</span>
                </div>
                <div class="actions">
                    <form name="rental_booking" method="post" action="{{ path('booking_rental_action') }}">
                        <input type="hidden" name="rental_booking[start_date]" value="{{ startDate|date("d-m-Y", "Europe/Kiev") }}">
                        <input type="hidden" name="rental_booking[end_date]" value="{{ endDate|date("d-m-Y", "Europe/Kiev") }}">
                        <input type="hidden" name="rental_booking[car_id]" value="{{ result.id }}">
                        <div class="price">
                            <span>{{ result.price }} lei / zi</span>
                        </div>
                        <button type="submit" name="rental_booking[submit]" class="button submit">Alegeți-vă mașina</button>
                        <input type="hidden" name="rental_booking[_token]" value="{{ csrf_token("rental_booking") }}">
                    </form>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}