{%  extends 'base.html.twig' %}

{% set dateModified = date|date("l d-m-Y", "Europe/Kiev")|replace({'Monday' : 'Luni', 'Tuesday' : 'Marți', 'Wednesday' : 'Miercuri', 'Thursday' : 'Joi', 'Friday' : 'Vineri', 'Saturday' : 'Sâmbătă', 'Sunday' : 'Duminică'}) %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/result/result.css') }}" rel="stylesheet" type="text/css" >
    <link href="{{ asset('css/result/rental.css') }}" rel="stylesheet" type="text/css" >
{% endblock %}

{% block body %}
    <section>
        <div class="header">
            <h2>În {{ city|capitalize }}, în data de {{ dateModified }} au fost găsite {{ count }} mașini. </h2>
        </div>
        {% for result in results %}
            <div class="hotel">
                <div class="image">
                    <img src="{{ result.image }}" alt="Sinaia">
                </div>
                <div class="details">
                    <h2>Model {{ result.model }}</h2>
                    <span>{{ result.seats }} locuri</span>
                    <span>Combustibil {{ result.fuel }}</span>
                    <span>Transmisie {{ result.gear_type }}</span>
                </div>
                <div class="actions">
                    <form name="rental_booking" method="post" action="{{ path('booking_rental_action') }}">
                        <input type="hidden" name="rental_booking[start_date]" value="{{ date|date("d-m-Y", "Europe/Kiev") }}">
                        <input type="hidden" name="rental_booking[car_id]" value="{{ result.id }}">
                        <input type="number" name="rental_booking[days]" required="required" class="number search" placeholder="Cate zile?">
                        <div class="price">
                            <span>{{ result.price }} lei / zi</span>
                        </div>
                        <button type="submit" name="rental_booking[submit]" class="button submit">Alegeți-vă mașina</button>
                        <input type="hidden" name="rental_booking[_token]" value="{{ csrf_token("rental_booking") }}">
                    </form>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}