{%  extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/accommodation.css') }}" rel="stylesheet" type="text/css" >
{% endblock %}

{% block body %}
    <section>
        <div class="text search">
            <h2>Găsiți oferte pentru cazare</h2>
            <p>De la case la țară la apartamente moderne</p>
        </div>
        {{ form_start(form) }}
        <div class="hint location">
            <div class="hint-response"></div>
            {{ form_widget(form.location, {"attr" : {"placeholder" : "Unde mergeti?", "class" : "search"}}) }}
        </div>
        {{ form_widget(form.date, {"attr" : {"class" : "date search"}}) }}
        {{ form_widget(form.number, {"attr" : {"class" : "number search", "placeholder" : "Cate persoane?", "onkeydown" : "down(event, this)"}}) }}
        {{ form_widget(form.submit, {"attr" : {"class" : "send search search", "value" : "Cauta"}}) }}
        {{ form_end(form) }}
        <div class="sinaia hotel">
            <img src="{{ asset("img/sinaia.jpg") }}" alt="Sinaia">
        </div>
        <div class="sibiu hotel">
            <img src="{{ asset("img/sibiu.jpg") }}" alt="Sibiu">
        </div>
        <div class="predeal hotel">
            <img src="{{ asset("img/predeal.jpg") }}" alt="Sinaia">
        </div>
        <div class="rasnov hotel">
            <img src="{{ asset("img/rasnov.jpg") }}" alt="Sibiu">
        </div>
        <div class="mamaia hotel">
            <img src="{{ asset("img/mamaia.jpg") }}" alt="Sinaia">
        </div>
        <div class="vama hotel">
            <img src="{{ asset("img/vama.jpg") }}" alt="Sibiu">
        </div>
    </section>
{% endblock %}