{%  extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/home.css') }}" rel="stylesheet" type="text/css" >
{% endblock %}

{% block body %}
    <section>
        <div class="text search">
            <h2>Găsiți oferte pentru cazare</h2>
            <p>De la case la țară la apartamente moderne</p>
        </div>
        <input class="location search" type="text" placeholder="Unde mergeti?">
        <input class="date search" type="date">
        <input class="number search" type="text" placeholder="Cate persoane? " onkeydown="down(event, this)">
        <input class="send search button"  type="button" value="Cauta">
        <h4 class="from first-offer">Zboara din timisoara</h4>
        <h4 class="to first-offer">Zboara catre bucuresti</h4>
        <span class="price first-offer">210 lei</span>
        <input class="action first-offer button" type="button" value="Vezi oferta">
        <h4 class="from last-offer">Zboara din timisoara</h4>
        <h4 class="to last-offer">Zboara catre bucuresti</h4>
        <span class="price last-offer">210 lei</span>
        <input class="action last-offer button" type="button" value="Vezi oferta">

        <div class="sinaia hotel">
            <img src="{{ asset("img/sinaia.jpg") }}" alt="Sinaia">
        </div>
        <div class="sibiu hotel">
            <img src="{{ asset("img/sibiu.jpg") }}" alt="Sibiu">
        </div>
        <div class="rent">
            <img src="{{ asset("img/rent.jpg") }}" alt="Rent">
        </div>
    </section>
{% endblock %}