{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/login.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block container %}
    <body>
        <section>
            <div class="logo" onclick="window.location.replace('{{ path('home_get') }}')">Rezervări Online</div>
            <h3 >Autentificare</h3>
            {% if error %}
                <div class="alert">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            {{ form_start(form) }}
            {{ form_widget(form._username, {"attr" : {"value" : lastUsername ? lastUsername : ''}}) }}
            {{ form_widget(form._password) }}
            <div class="actions">
                <div class="registration">
                    <button class="button" onclick="location.href = '{{ path("user_register") }}'">Înregistrați-vă</button>
                </div>
                <div class="submit">
                    {{ form_widget(form.submit) }}
                </div>
            </div>
            {{ form_end(form) }}
        </section>
    {% block footer %}
        <footer class="footer fixed">
            <p class="copyright"> 2019 &copy; Rezervări Online | Eduard Postelnicu</p>
        </footer>
    {% endblock %}
    </body>
{% endblock %}