{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/register.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block container %}
    <body>
    <section>
        <div class="logo">Rezervari Online</div>
        <h3 >Inregistrare</h3>
        {{ form_start(form) }}
        <div class="error">
            {{ form_errors(form.username) }}
        </div>
        <div class="data">
            <div class="label">
                {{ form_label(form.username, 'Username', {'label_attr' : {'class' : 'control-label visible-ie8 visible-ie9'}}) }}
            </div>
            <div class="input">
                {{ form_widget(form.username) }}
            </div>
        </div>
        <div class="error">
            {{ form_errors(form.plainPassword.first) }}
        </div>
        <div class="data">
            <div class="label">
                {{ form_label(form.plainPassword.first, 'Password') }}
            </div>
            <div class="input">
                {{ form_widget(form.plainPassword.first, {'attr' : {'placeholder' : 'Password'}}) }}
            </div>
        </div>
        <div class="error">
            {{ form_errors(form.plainPassword.second) }}
        </div>
        <div class="data">
            <div class="label">
                {{ form_label(form.plainPassword.second, 'Repeat Password') }}
            </div>
            <div class="input">
                {{ form_widget(form.plainPassword.second, {'attr' : {'placeholder' : 'Password'}}) }}
            </div>
        </div>
        <div class="data actions">
            <div class="registration">
                <button class="button" onclick="location.href = '{{ path("security_login") }}'">Inapoi</button>
            </div>
            <div class="submit">
                {{ form_widget(form.submit, {"attr" : {"class" : "button"}}) }}
            </div>
        </div>
        {{ form_end(form) }}
    </section>
    {% block footer %}
        <footer class="footer fixed">
            <p class="copyright"> 2019 &copy; Rezervări Online | Eduard Postelnicu</p>
        </footer>
    {% endblock %}
    </body>
{% endblock %}